# Ignore IDE directories
.idea/

# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Ignore these files
*.txt
*.bat

# Ignore node dependency directories
node_modules/

# Web Projects - These will have separate repositories
public/projects/webdev/GachaClicker/

# Track these files, if they exist
!.gitignore
