<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="BlackFlame's personal site.">
    <meta name="author" content="BlackFlame">
    <meta name="keywords" content="GameDev, Indie, Anime, Manga, Kurobi">

    <link rel="stylesheet" href="{{ nesting }}assets/main.css{{ nocache }}">
    <link rel="icon" href="{{ nesting }}assets/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <noscript>
        <dialog id="no-js" open>
            <p>
                Please enable JavaScript on your browser, or switch to one with JS support.
            </p>
        </dialog>
    </noscript>
    <div class="container">
        <div id="header">
            <div class="header__banner">
                <img src="{{ nesting }}assets/images/title.png" alt="Site Title" width="500px">
            </div>
            <div class="header__button-banner">
                <div class="marquee-hor">
                    <marquee behavior="" direction="">
                        <div class="button-gallery">
                            <div class="button">
                                <img src="{{ nesting }}assets/images/buttons/likes/2hu.gif" alt="Touhou">
                            </div>
                            <div class="button">
                                <img src="{{ nesting }}assets/images/buttons/likes/fspeech.gif" alt="Free Speech">
                            </div>
                            <div class="button">
                                <img src="{{ nesting }}assets/images/buttons/likes/hl.gif" alt="Half-Life">
                            </div>
                        </div>
                    </marquee>
                </div>
            </div>
        </div>
        <div id="main">
            {{ content | safe }}
        </div>
        <div class="sidebar sidebar--left">
            <div id="navigation">
                <div class="nav-menu">
                    <nav>
                        <div class="nav-menu__cat-title">Menu</div>
                        <a class="nav-menu__nav" href="/">Home</a>
                        <a class="nav-menu__nav" href="/about">About</a>  
                        <a class="nav-menu__nav" href="/blog">Blog</a>
                    </nav>
                    <nav>
                        <div class="nav-menu__cat-title">Projects</div>
                        <a class="nav-menu__nav" href="/projects/games">Gamedev</a>
                        <a class="nav-menu__nav" href="/projects/webdev">Webdev</a>
                        <a class="nav-menu__nav" href="/projects/art">Art</a>
                        <a class="nav-menu__nav" href="/projects/misc">Misc</a>
                    </nav>
                </div>
            </div>
            <div id="time">
                <h4>Time in Poland:</h4>
                <span id="clock">0:00</span>
            </div>
            <div id="social">
                <h4>Where to find me</h4>
                <div class="button-gallery">
                    <div class="button">
                        <a href="https://discord.gg/X5zuCb9tZz" title="Discord Server"><img src="{{ nesting }}assets/images/buttons/social/discord_now.gif" alt="Discord"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar sidebar--right">
            Lorem ipsum dolor sit amet.
        </div>
        <div id="footer">
            &copy; Kurobi 2025 <br>
            Hosted on <a href="https://neocities.org">Neocities</a>
        </div>
    </div>
    <!-- SCRIPTS -->
    <script src="{{ nesting }}assets/js/main.js"></script>
    <script src="{{ nesting }}assets/js/clock.js"></script>
</body>
</html>