<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="BlackFlame's personal site.">
    <meta name="author" content="BlackFlame">
    <meta name="keywords" content="GameDev, Indie, Anime, Manga, Kurobi">

    <link rel="stylesheet" href="{{ nesting }}assets/css/main.css{{ nocache }}">
    <link rel="stylesheet" href="{{ nesting }}assets/css/misc.css{{ nocache }}">
    <link rel="stylesheet" href="{{ nesting }}assets/css/theming.css{{ nocache }}">
    <link rel="icon" href="{{ nesting }}assets/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="theme-changer">
        <div class="theme-changer__buttons">
            <button id="dark-mode" onclick="init_theme(themes.default)">Default Red</button>
            <button id="dark-mode" onclick="init_theme(themes.dark)">Midnight</button>
        </div>
        <div class="theme-changer__close-button">
            <button id="toggle-changer" onclick="toggle_hide()">>></button>
        </div>
    </div>
    <div class="container">
        <div id="header">
            <div class="header__banner">
                <img src="{{ nesting }}assets/images/title.png" alt="Site Title" width="500px">
            </div>
            <div class="header__button-banner">
                <div class="marquee-hor">
                    <marquee behavior="" direction="">
                        <div class="button-gallery">
                            <div class="button">
                                <img src="{{ nesting }}assets/images/buttons/likes/2hu.gif" alt="Touhou">
                            </div>
                            <div class="button">
                                <img src="{{ nesting }}assets/images/buttons/likes/fspeech.gif" alt="Free Speech">
                            </div>
                            <div class="button">
                                <img src="{{ nesting }}assets/images/buttons/likes/hl.gif" alt="Half-Life">
                            </div>
                            <div class="button">
                                <img src="{{ nesting }}assets/images/buttons/likes/imissxp.gif" alt="I miss XP!">
                            </div>
                            <div class="button">
                                <img src="{{ nesting }}assets/images/buttons/likes/anythingbut.gif" alt="Anything but Chrome">
                            </div>
                        </div>
                    </marquee>
                </div>
            </div>
            <div class="header__announcement">
                <p>This site is currently under construction.</p>
            </div>
            <noscript>
                <div class="header__announcement header__announcement--alert">
                    <p>Please enable Javascript on your browser.</p>
                </div>
            </noscript>
        </div>
        <div id="main">
            {{ content | safe }}
        </div>
        <div class="sidebar sidebar--left">
            <div id="navigation">
                <div class="nav-menu">
                    <nav>
                        <div class="nav-menu__cat-title">
                            Menu
                        </div>
                        <a class="nav-menu__nav" href="/">Home</a>
                        <a class="nav-menu__nav" href="/about">About</a>  
                        <a class="nav-menu__nav" href="/blog">Blog</a>
                    </nav>
                    <nav>
                        <div class="nav-menu__cat-title">Projects</div>
                        <a class="nav-menu__nav" href="/projects/games">Gamedev</a>
                        <a class="nav-menu__nav" href="/projects/webdev">Webdev</a>
                        <a class="nav-menu__nav" href="/projects/art">Art</a>
                        <a class="nav-menu__nav" href="/projects/misc">Misc</a>
                    </nav>
                </div>
            </div>
            <div id="time">
                <h4>Time in Poland:</h4>
                <span id="clock">0:00</span>
            </div>
            <div id="link-button">
                <h4>Link me back</h4>
                <div class="button">
                    <a href="https://kurobi.neocities.org"><img src="{{ nesting }}assets/images/88x31.gif" alt="Kurobi"></a>
                    <textarea name="link-button-text" id="link-button-text"><a href="https://kurobi.neocities.org"><img src="{{ nesting }}assets/images/88x31.gif" alt="Kurobi"></a></textarea>
                </div>
            </div>
            <div id="social">
                <h4>Where to find me</h4>
                <div class="button-gallery">
                    <div class="button">
                        <a href="https://discord.gg/X5zuCb9tZz" title="Discord Server"><img src="{{ nesting }}assets/images/buttons/social/discord_now.gif" alt="Discord"></a>
                    </div>
                    <div class="button">
                        <a href="https://rvlt.gg/ySBYBqWH" title="Revolt Server"><img src="https://88x31.kate.pet/revolt.gif" alt="Revolt" /></a>
                    </div>
                    <div class="button">
                        <a href="https://github.com/KurobiDev" title="github"><img src="https://88x31.kate.pet/github.png" alt="github" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar sidebar--right">
            Lorem ipsum dolor sit amet.
        </div>
        <div id="footer">
            &copy; Kurobi 2025 <br>
            Hosted on <a href="https://neocities.org">Neocities</a> <br>
        </div>
    </div>

    <!-- SCRIPTS -->
    <script src="{{ nesting }}assets/js/main.js"></script>
    <script src="{{ nesting }}assets/js/clock.js"></script>
    <script src="{{ nesting}}assets/js/themes.js"></script>
    <script src="{{ nesting }}assets/js/snow.js"></script>
</body>
</html>