/* SITE LAYOUT */

:root {
    --site-font-size: 14pt;
    --site-font-family: Arial, Helvetica, sans-serif;

    /* Theme - BORDERS*/
    --theme-border-style: 3px solid #FF0000;
    --theme-border-radius: 10px;

    /* Light Mode */
    --light-site-background-image: url("/assets/images/Wallpaper.png");
    --light-background-color: #d34949;

    --light-element-background-color: linear-gradient(to bottom,red, black);
}

* {
    box-sizing: border-box;
}

body {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Background */
    background-color: var(--light-background-color);
    background-image: var(--light-site-background-image);
    background-size: cover;

    /* Text */
    font-family: var(--site-font-family);
    font-size: var(--site-font-size);
    color: white;

    /* Misc */
    overflow-x: hidden;
}

.container {
    /* Positioning */
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    /* Layout */
    max-width: 1500px;

    display: grid;
    grid-gap: 15px;
    grid-template: 
        "header header header"
        "left-sidebar main right-sidebar"
        "footer footer footer" /
        200px 1fr 200px;
}

#header {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 215px;
    padding-right: 215px;

    /* Layout */
    grid-area: header;

    /* Text */
    text-align: center;
}

.header__banner {
    /* Margins */
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
}

.header__button-banner {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;

    /* Border */
    border: var(--theme-border-style);
    border-radius: var(--theme-border-radius);

    /* Background */
    background-color: white;
    background-image: var(--light-element-background-color);
}

.header__button-banner marquee {
    /* Layout */
    display: flex;
}

#main {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

    /* Layout */
    grid-area: main;

    /* Border */
    border: var(--theme-border-style);
    border-radius: var(--theme-border-radius);

    /* Background */
    background-color: white;
    background-image: var(--light-element-background-color);
}

#main > .section > .section__title {
    text-align: center;
}

.sidebar {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;

    /* Border */
    border: var(--theme-border-style);
    border-radius: var(--theme-border-radius);

    /* Background */
    background-color: white;
    background-image: var(--light-element-background-color);
}

.sidebar--left {
    /* Layout */
    grid-area: left-sidebar;
}

.sidebar--right {
    /* Layout */
    grid-area: right-sidebar;
}

#footer {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

    /* Layout */
    grid-area: footer;
    clear: both;

    /* Text */
    font-size: small;
    text-align: center;
}

.nav-menu {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    /* Layout */
    display: block;

    /* Text */

}

.nav-menu nav {
    /* Margins */
    margin-bottom: 10px;
}

.nav-menu__nav, .nav-menu__cat-title {
    /* Margins */
    margin-top: 3px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 0;
    padding-right: 0;

    /* Layout */
    width: 100%;
    display: block;
    
    /* Border */
    border: var(--theme-border-style);
    border-radius: var(--theme-border-radius);

    /* Text */
    text-align: center;
}

.nav-menu__cat-title {

    /* Background */
    background-color: black;

    /* Border */
    border: 1px solid black;
    border-radius: 10px 10px 0px 0px;

    /* Text */
    color: white;
}

.nav-menu__nav {
    /* Text */
    text-decoration: none;
    color: white;
}

.nav-menu__nav:hover {
    /* Text */
    text-decoration: underline;
}

.nav-menu__nav--active {
    /* Text */
    font-weight: bold;
    
    color: black;
}


#time {
    /* Text */
    text-align: center;
}

#time > #clock {

    /* Font */
    font-weight: bold;
    font-size: 2em;
}

.button-gallery {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    /* Layout */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    /* Text */
}

.gallery {
    /* Layout */
    display: flex;
    flex-wrap: wrap;
}

.gallery__picture {
    /* Margins */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;

    /* Padding */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    /* Layout */
    width: calc(25% - 10px);
    height: 250px;

    box-sizing: border-box;

    position: relative;

    overflow: hidden;

     /* Border */
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 0px;

    /* Text */
}

.gallery__picture img{
    /* Layout */
    width: 100%;
    height: 100%;
    object-fit: cover;

    /* Transitioning */
    transition: transform 0.5s ease;

}

.gallery__picture .picture-desc {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    /* Layout */
    box-sizing: border-box;

    width: 100%;

    position: absolute;
    
    bottom: 0;
    left: 0;

    /* Background */
    background-color: white;

    /* Text */
    font-size: 14px;

    text-align: center;

    color: black;

    /* Transforming */
    transform: translateY(100px);

    /* Transitioning */
    transition: transform 0.3s ease, opacity 0.5s ease;

    /* Misc */
    opacity: 0;
}

.gallery__picture:hover .picture-desc {
    /* Transforming */
    transform: none;

    /* Misc */
    opacity: 1;
}

.gallery__picture:hover img {
    /* Transforming */
    transform: scale(1.25);
}

.button {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
}