/* SITE LAYOUT */

:root {
    --site-font-size: 14pt;
    --site-font-family: Arial, Helvetica, sans-serif;

    /* Theme - BORDERS*/
    --theme-border-style: 3px solid black;
    --theme-border-radius: 10px;
    --theme-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);

    /* Light Mode */
    --light-site-background-image: url("/assets/images/Wallpaper.png");
    --light-background-color: #d34949;

    --light-element-background-color: linear-gradient(190deg,red, black);
}

* {
    box-sizing: border-box;
}

body {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Background */
    background-color: var(--light-background-color);
    background-image: var(--light-site-background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* Text */
    font-family: var(--site-font-family);
    font-size: var(--site-font-size);
    color: white;

    /* Misc */
    overflow-x: hidden;
}

.container {
    /* Positioning */
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    /* Layout */
    max-width: 1500px;

    display: grid;
    grid-gap: 15px;
    grid-template: 
        "header header header"
        "left-sidebar main right-sidebar"
        "footer footer footer" /
        200px 1fr 200px;
}

#header {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 215px;
    padding-right: 215px;

    /* Layout */
    grid-area: header;

    /* Text */
    text-align: center;
}

.header__banner {
    /* Margins */
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
}

.header__button-banner {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;

    /* Border */
    border: var(--theme-border-style);
    border-radius: var(--theme-border-radius);

    /* Background */
    background-color: white;
    background-image: var(--light-element-background-color);

    /* Misc */
    box-shadow: var(--theme-box-shadow);
}

.header__announcement {
    /* Margins */
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    /* Border */
    border: var(--theme-border-style);
    border-radius: 5px;

    /* Background */
    background-color: darkorange;
    background-image: linear-gradient( 90deg, darkslateblue, darkorchid);

    /* Misc */
    box-shadow: var(--theme-box-shadow);

}

.header__announcement p {
    /* Margins */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;

    /* Text */
    font-weight: bold;
}

.header__announcement--alert {
     /* Background */
    background-color: red;
    background-image: linear-gradient( 90deg, red, orangered);
}

.header__button-banner marquee {
    /* Layout */
    display: flex;
}

#main {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

    /* Layout */
    grid-area: main;

    /* Border */
    border: var(--theme-border-style);
    border-radius: var(--theme-border-radius);

    /* Background */
    background-color: white;
    background-image: var(--light-element-background-color);

    /* Misc */
    box-shadow: var(--theme-box-shadow);
}

#main hr {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Background */
    background-color: white;

    /* Border */
    border: 2px solid white;
    border-radius: 2px;

    /* Misc */
    box-shadow: 0 0 10px 2px white;
}

#main a:link {
    /* Text */
    color: darkgray;
    text-decoration: underline;
}

#main a:hover {
    /* Text */
    color: rgb(255, 255, 255) !important;
    text-shadow: 2px 2px 5px black;
}

#main a:visited {
    /* Text */
    color: gray;
}

.section__title {
    /* Text */
    text-align: center;

    text-shadow: 1px 1px 5px black;
}

.section p {
    /* Margins */
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.sidebar {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;

    /* Border */
    border: var(--theme-border-style);
    border-radius: var(--theme-border-radius);

    /* Background */
    background-color: white;
    background-image: var(--light-element-background-color);

    /* Misc */
    box-shadow: var(--theme-box-shadow);
}

.sidebar--left {
    /* Layout */
    grid-area: left-sidebar;
}

.sidebar--right {
    /* Layout */
    grid-area: right-sidebar;
}

#footer {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

    /* Layout */
    grid-area: footer;
    clear: both;

    /* Text */
    font-size: small;
    text-align: center;
    
    text-shadow: 2px 2px 2px black;
}

#footer a {
    /* Text */
    color: white;
}

#footer a:hover {
    /* Text */
    color: darkgray;
}

.nav-menu {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    /* Layout */
    display: block;

    /* Text */

}

.nav-menu nav {
    /* Margins */
    margin-bottom: 10px;
}

.nav-menu__nav, .nav-menu__cat-title {
    /* Margins */
    margin-top: 3px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 0;
    padding-right: 0;

    /* Layout */
    width: 100%;
    display: block;

    /* Text */
    text-align: center;
}

.nav-menu__cat-title {

    /* Background */
    background-color: black;

    /* Border */
    border: 2px solid black;
    border-radius: 10px 10px 0px 0px;

    /* Text */
    color: white;
}

.nav-menu__nav {

    /* Margins */
    margin: 0 auto;

    /* Background */
    background-color: firebrick;

    /* Border */
    border: 2px solid black;
    border-top: none;
    border-radius: 0;

    /* Text */
    text-decoration: none;
    color: white;
}

.nav-menu__nav:last-child {
    /* Border */
    border-radius: 0 0 10px 10px;
}

.nav-menu__nav:hover {
    /* Text */
    text-decoration: underline;
}

.nav-menu__nav--active {
    /* Background */
    background-color: salmon;
    
    /* Text */
    font-weight: bold;
    
    color: black;
}

#welcome p {
    /* Text */
    text-align: center;
}

#time {
    /* Text */
    text-align: center;
}

#time > #clock {

    /* Font */
    font-weight: bold;
    font-size: 2em;
}

#social {
    /* Text */
    text-align: center;
}

.button-gallery {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    /* Layout */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.gallery {
    /* Layout */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery__picture {
    /* Margins */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;

    /* Padding */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    /* Layout */
    width: 250px;
    height: 250px;

    box-sizing: border-box;

    position: relative;

    overflow: hidden;

     /* Border */
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;

    /* Misc */
    box-shadow: 0 0 5px 3px rgba(255, 255, 255, 1);;
}

.gallery__picture img{
    /* Layout */
    width: 100%;
    height: 100%;
    object-fit: cover;

    /* Transitioning */
    transition: transform 0.5s ease;

}

.gallery__picture .picture-desc {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    /* Layout */
    box-sizing: border-box;

    width: 100%;

    position: absolute;
    
    bottom: 0;
    left: 0;

    /* Background */
    background-color: white;

    /* Text */
    font-size: 14px;

    text-align: center;

    color: black;

    /* Transforming */
    transform: translateY(100px);

    /* Transitioning */
    transition: transform 0.3s ease, opacity 0.5s ease;

    /* Misc */
    opacity: 0;
}

.gallery__picture:hover .picture-desc {
    /* Transforming */
    transform: none;

    /* Misc */
    opacity: 1;
}

.gallery__picture:hover img {
    /* Transforming */
    transform: scale(1.25);
}

.button {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.project-subsection {
    /* Layout */

    display: flex;
    justify-content: space-evenly;
}

.project-subsection__title{
    /* Text */
    text-align: center;
}

.project-subsection p {
    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /* Text */
    text-align: center;
}

.project-subsection a:link, .project-subsection a:visited {
    /* Text */

    color: white !important;
    text-decoration: none !important;
}

.project-subsection a:hover {
    /* Text */
    text-decoration: underline !important;
}


/* For Mobile Devices */

@media (max-width: 1000px) {
    .container {
        /* Margins */
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 10px;
        margin-right: 10px;

        /* Layout */
        display: grid;
        grid-gap: 15px;
        grid-template: 
        "header header header"
        "main main main"
        "footer footer footer" /
        1fr;
    }

    #header {
        /* Padding */
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .header__button-banner {
        /* Layout */
        display: none;
    }

    .sidebar {
        /* Layout */
        display: none;
    }

    .project-subsection {
        /* Layout */
        flex-direction: column;
    }
}

