:root {
    --site-font-size: 14pt;
    --site-font-family: Arial, Helvetica, sans-serif;

    /* Light Mode */
    --site-background-image: url("/assets/images/background.gif");

    --navbar-background-color: #d34949;
    --sidebar-background-color: #fff;
    --main-background-color: #fff;
    --footer-background-color: #fff;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--site-font-family);
    font-size: var(--site-font-size);
    background-image: var(--site-background-image);
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-gap: 15px;
    grid-template:
    "header header"
    "sidebar main"
    "footer footer"
    / 250px 1fr;
}

header {
    grid-area: header;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

aside {
    padding: 5px;

    grid-area: sidebar;

    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid #000;
    background-color: var(--sidebar-background-color);
}

aside #clock {
    font-weight: bold;
    font-size: 2em;
}

main {
    grid-area: main;

    padding: 10px;

    border: 2px solid #000;
    background-color: var(--main-background-color);
}

footer {
    padding: 10px;

    grid-area: footer;
    overflow: hidden;

    display: flex;
    justify-content: center;

    border: 2px solid #000;
    background-color: var(--footer-background-color);

    font-size: 0.75em;
}

footer i {
    margin: auto 5px auto 5px ;
}

header nav {
    width: 100%;
}

header nav menu {
    list-style-type: none;
    margin: 0;
    margin-top: 10px;
    padding: 10px;

    border: 2px solid #000;
    background-color: var(--navbar-background-color);
}

header nav menu li {
    padding-right: 5px;
    display: inline;
    border-right: white solid 2px;
}

header nav menu li:last-child {
    border-right: none;
}

header nav menu li > a:link, header nav menu li > a:visited {
    text-decoration: none;
    color: #fff;
}

header nav menu li > a:hover {
    text-decoration: underline;
}

header nav menu li.dropdown {
    display: inline-block;
}

header nav menu li.dropdown > strong {
    color: #fff;

    font-weight: normal;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;

    border: 2px solid #000;
    background-color: #f9f9f9;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 5px 10px;
}

li.dropdown:hover .dropdown-content, li.dropdown:focus-within .dropdown-content{
    display: block;
}

.project-subsection {
    margin-bottom: 10px;
    padding: 10px;
}

.project-subsection > img {
    margin: 15px;
    float: left;
}

.picture-element {
    width: 300px;
    text-align: center;
}

.picture-element > .desc {
    font-size: 12pt;
    text-align: center;
}

.gallery .picture-element {
    display: inline-block;
    text-align: center;
}

.button-gallery div {
    padding: 5px;

    display: inline;
}

.button-gallery div:hover{
    z-index: 1;
}

.button-gallery div img:hover{
    transform: scale(1.25);
}

@media (max-width: 800px) {
    body {
        font-size: 12pt;
    }

    .container {
        width: 100%;
        grid-template:
                "header"
                "sidebar"
                "main"
                "footer";
    }

    main {
        text-align: center;
    }

    .gallery .picture-element {
        margin: auto;
        display: block;
    }

    aside {
        display: none;
    }

    header nav img {
        width: 300px;
    }

    .project-subsection > img {
        margin: auto;
        float: none;
        display: block;
    }
}

