* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

header {
    text-align: center;
}

header, main, footer {
    padding: 10px;
    margin: 10px;
}

footer {
    text-align: center;

    font-size: .8em;
}

header h1 {
    font-size: 2.5em;
}

main section h1 {
    font-size: 2.2em;
}

main section h1, main section h2, main section h3, main section .gallery {
    text-align: center;
}

.subsection-download {
    text-align: center;
}

.subsection-download sub{
    font-size: .7em;
}

@media (max-width: 1000px) {
    body {
        text-align: center;
    }

    .container {
        width: 100%;
    }

    .container .gallery img {
        width: 300px;
    }
}