* {
    box-sizing: border-box;
}

body, html {
    background-color: #000;
    background-image: url("/assets/images/WallpaperDark.png");
    background-size: cover;

    color: #fff;

    font-family: "Arial", sans-serif;
    font-size: 14pt;

    height: 100%;

    overflow-y: hidden;
}

.container {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

main {
    position: absolute;

    margin: auto;
    text-align: center;
}