/* SITE LAYOUT */

:root {
    --site-font-size: 14pt;
    --site-font-family: Arial, Helvetica, sans-serif;

    /* Theme - BORDERS*/
    --theme-border-style: 3px solid;
    --theme-border-radius: 10px;
    --theme-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);

    /* Light Mode */
    --light-border-color: rgb(0, 0, 0);
    --light-site-background-image: url("/assets/images/Wallpaper.png");
    --light-background-color: #d34949;

    --light-element-background-color: linear-gradient(190deg,red, black);
    --light-button-background: linear-gradient(0deg, brown, maroon, brown);

    /* Dark Mode*/
    --dark-border-color: rgb(89, 0, 255);
    --dark-site-background-image: url("/assets/images/WallpaperDark.png");
    --dark-background-color: #18002c;

    --dark-element-background-color: linear-gradient(190deg,rgb(26, 0, 36), rgb(0, 30, 68));
}

* {
    box-sizing: border-box;
}

body {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Text */
    font-family: var(--site-font-family);
    font-size: var(--site-font-size);
    color: white;
}

.container {
    /* Positioning */
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    /* Layout */
    max-width: 1500px;

    display: grid;
    grid-gap: 15px;
    grid-template: 
        "header header header"
        "left-sidebar main right-sidebar"
        "footer footer footer" /
        200px 1fr 200px;
}

#header {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 215px;
    padding-right: 215px;

    /* Layout */
    grid-area: header;

    /* Text */
    text-align: center;
}

.header__banner {
    /* Margins */
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
}

.header__button-banner {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
}

.header__announcement {
    /* Margins */
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    /* Border */
    border: var(--theme-border-style);
    border-color: black;
    border-radius: 5px;

    /* Background */
    background-color: darkorange;
    background-image: linear-gradient( 90deg, darkslateblue, darkorchid);

    /* Misc */
    box-shadow: var(--theme-box-shadow);

}

.header__announcement p {
    /* Margins */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;

    /* Text */
    font-weight: bold;
}

.header__announcement--alert {
     /* Background */
    background-color: red;
    background-image: linear-gradient( 90deg, red, orangered);
}

.header__button-banner marquee {
    /* Layout */
    display: flex;
}

#main {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

    /* Layout */
    grid-area: main;

}

#main hr {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

#main a:link {
    /* Text */
    color: darkgray;
    text-decoration: underline;
}

#main a:hover {
    /* Text */
    color: rgb(255, 255, 255) !important;
    text-shadow: 2px 2px 5px black;
}

#main a:visited {
    /* Text */
    color: gray;
}

.section__title {
    /* Text */
    text-align: center;

    text-shadow: 1px 1px 5px black;
}

.section p {
    /* Margins */
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.sidebar {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar--left {
    /* Layout */
    grid-area: left-sidebar;
}

.sidebar--right {
    /* Layout */
    grid-area: right-sidebar;
}

#footer {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

    /* Layout */
    grid-area: footer;
    clear: both;

    /* Text */
    font-size: small;
    text-align: center;
    
    text-shadow: 2px 2px 2px black;
}

#footer a {
    /* Text */
    color: white;
}

#footer a:hover {
    /* Text */
    color: darkgray;
}

.nav-menu {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    /* Layout */
    display: block;
}

.nav-menu nav {
    /* Margins */
    margin-bottom: 10px;

    /* Padding */
    padding: 5px;
}

.nav-menu__nav, .nav-menu__cat-title {
    /* Margins */
    margin-top: 3px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 0;
    padding-right: 0;

    /* Layout */
    position: relative;
    width: 100%;
    display: block;

    /* Text */
    text-align: center;
}

.nav-menu__cat-title {
    /* Margins */
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
}

.nav-menu__nav {
    /* Margins */
    margin: 5px auto;
}

#welcome p {
    /* Text */
    text-align: center;
}

#time {
    /* Text */
    text-align: center;
}

#time > #clock {

    /* Font */
    font-weight: bold;
    font-size: 2em;
}

#social {
    /* Text */
    text-align: center;
}

.button-gallery {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    /* Layout */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.button {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.project-subsection {
    /* Layout */

    display: flex;
    justify-content: space-evenly;
}

.project-subsection__title{
    /* Text */
    text-align: center;
}

.project-subsection p {
    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /* Text */
    text-align: center;
}

.project-subsection a:link, .project-subsection a:visited {
    /* Text */

    color: white !important;
    text-decoration: none !important;
}

.project-subsection a:hover {
    /* Text */
    text-decoration: underline !important;
}


/* For Mobile Devices */

@media (max-width: 1000px) {
    .container {
        /* Margins */
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 10px;
        margin-right: 10px;

        /* Layout */
        display: grid;
        grid-gap: 15px;
        grid-template: 
        "header header header"
        "main main main"
        "footer footer footer" /
        1fr;
    }

    #header {
        /* Padding */
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .header__button-banner {
        /* Layout */
        display: none;
    }

    .sidebar {
        /* Layout */
        display: none;
    }

    .project-subsection {
        /* Layout */
        flex-direction: column;
    }
}

