/* SITE LAYOUT */

:root {
    --site-font-size: 14pt;
    --site-font-family: Arial, Helvetica, sans-serif;

    /* Basic site - BORDERS*/
    --site-border-style: 1px solid black;
}

* {
    box-sizing: border-box;
}

body {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Text */
    font-family: var(--site-font-family);
    font-size: var(--site-font-size);

    height: 100vh;
}

.container {
    /* Margins */
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    /* Padding */
    padding-top: 30px;

    /* Layout */
    max-width: 1550px;

    display: grid;
    grid-gap: 15px;
    grid-template: 
        "header header header"
        "left-sidebar main right-sidebar"
        "footer footer footer" /
        210px 1fr 210px;
}

#header {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 225px;
    padding-right: 225px;

    /* Layout */
    grid-area: header;

    /* Text */
    text-align: center;
}

.header__banner {
    /* Margins */
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
}

.header__button-banner {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;

    /* Border */
    border: var(--site-border-style);
}

.header__announcement {
    /* Margins */
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    /* Border */
    border: var(--site-border-style);

    /* Background */
    background-color: darkslateblue;

}

.header__announcement p {
    /* Margins */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;

    /* Text */
    font-weight: bold;
}

.header__announcement--alert {
     /* Background */
    background-color: red;
}

.header__button-banner marquee {
    /* Layout */
    display: flex;
}

#main {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;

    /* Layout */
    grid-area: main;

    /* Border */
    border: var(--site-border-style);
}

#main hr {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.section__title {
    /* Text */
    text-align: center;
}

.section p {
    /* Margins */
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;

    /* Text */
    text-align: justify;
}

.sidebar {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    /* Border */
    border: var(--site-border-style);
}

.sidebar--left {
    /* Layout */
    grid-area: left-sidebar;
}

.sidebar--right {
    /* Layout */
    grid-area: right-sidebar;
}

#footer {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

    /* Layout */
    grid-area: footer;
    clear: both;

    /* Text */
    font-size: small;
    text-align: center;
    
    text-shadow: 2px 2px 2px black;
}

.nav-menu {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    /* Layout */
    display: block;
}

.nav-menu nav {
    /* Margins */
    margin-bottom: 10px;

    /* Padding */
    padding: 5px;

    /* Border */
    border: var(--site-border-style);
}

.nav-menu__nav, .nav-menu__cat-title {
    /* Margins */
    margin-top: 3px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 0;
    padding-right: 0;

    /* Border */
    border: var(--site-border-style);

    /* Layout */
    position: relative;
    width: 100%;
    display: block;

    /* Text */
    text-align: center;
}

.nav-menu__cat-title {
    /* Margins */
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
}

.nav-menu__nav {
    /* Margins */
    margin: 5px auto;
}

#welcome p {
    /* Text */
    text-align: center;
}

#time, #social, #link-button, #counter {
    /* Text */
    text-align: center;
}

#time > #clock {

    /* Font */
    font-weight: bold;
    font-size: 2em;
}

.button-gallery {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* Padding */
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    /* Layout */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.section {
    /* Margins */
    margin: 0 auto;

    /* Layout */
    max-width: 800px;
}

.project-subsection {
    /* Layout */

    display: flex;
    justify-content: space-evenly;
}

.project-subsection__title{
    /* Text */
    text-align: center;
}

.project-subsection p {
    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /* Text */
    text-align: center;
}

#snow {
    /* Layout */
    display: none;
    z-index: 9;
}


/* For Mobile Devices */

@media (max-width: 1000px) {
    .container {
        /* Margins */
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 10px;
        margin-right: 10px;

        /* Layout */
        display: grid;
        grid-gap: 15px;
        grid-template: 
        "header header header"
        "main main main"
        "footer footer footer" /
        1fr;
    }

    #header {
        /* Padding */
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .header__button-banner {
        /* Layout */
        display: none;
    }

    .sidebar {
        /* Layout */
        display: none;
    }

    .project-subsection {
        /* Layout */
        flex-direction: column;
    }
}

