:root {
    --site-font-size: 14pt;
    --site-font-family: serif;
    /* Light Mode */
    --site-background-image: url("/assets/images/Wallpaper.png");

    --navbar-background-color: #c22525;
    --sidebar-background-color: #fff;
    --main-background-color: #fff;
    --footer-background-color: #fff;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--site-font-family);
    font-size: var(--site-font-size);
    background-image: var(--site-background-image);
    background-size: cover;
    background-attachment: fixed;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-gap: 15px;
    grid-template:
    "header header"
    "sidebar main"
    "footer footer"
    / 200px 1fr;
}

#welcome {
    max-width: 1000px;
    grid-template:
    "header"
    "main";
}

header {
    grid-area: header;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

aside {
    padding: 5px;

    grid-area: sidebar;

    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid #000;
    background-color: var(--sidebar-background-color);
}

aside #clock {
    font-weight: bold;
    font-size: 2em;
}

main {
    grid-area: main;

    padding: 15px;

    border: 2px solid #000;
    background-color: var(--main-background-color);

    text-align: center;
}

main menu, main ul {
    display: inline-block;
}

footer {
    padding: 10px;

    grid-area: footer;
    overflow: hidden;

    display: flex;
    justify-content: center;

    border: 2px solid #000;
    background-color: var(--footer-background-color);

    font-size: 0.75em;
}

footer i {
    margin: auto 5px auto 5px ;
}

header nav {
    width: 100%;
}

header nav menu {
    list-style-type: none;
    margin: 0;
    margin-top: 10px;
    padding: 10px;

    border: 2px solid #000;
    background-color: var(--navbar-background-color);
}

header nav menu li {
    padding-right: 5px;
    display: inline;
    border-right: white solid 2px;
}

header nav menu li:last-child {
    border-right: none;
}

header nav menu li > a:link, header nav menu li > a:visited {
    text-decoration: none;
    color: #fff;
}

header nav menu li > a:hover {
    text-decoration: underline;
}

/* GALLERY */
.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery-picture {
    margin: 5px;

    position: relative;

    width: 225px;
    height: 225px;

    box-sizing: border-box;

    border: 4px ridge red;
    display: flex;
    overflow: hidden;
}

.gallery-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-picture .picture-desc {
    margin-bottom: 0;
    padding: 3px;
    
    position: absolute;
    bottom: 0;

    background-color: #fff;
    width: 100%;

    text-align: center;
    font-size: 16px;

    justify-content: center;

    display: none;
}

.gallery-picture:hover .picture-desc{
    display: block;
}

.gallery-picture:hover img {
    transform: scale(1.15);
}

#portrait {
    justify-content: center;
}

/* LATEST BLOG POST */

#blog-entry {
    border: 5px ridge #ff0000;
    padding: 10px;

    text-align: left;
}

#blog-entry h3 {
    margin-top: 0;
}

/* SITEMAP */

#sitemap, #sitemap ul {
    float: left;
    text-align: left;
    border-left: 1px solid black ;
}

#sitemap li {
    list-style-type: '––––';
    margin: 3px 0;
}

#sitemap ul { 
    break-inside: avoid;
    margin-bottom: 15px;
}

/* 88x31 BUTTONS */
.buttons {
    display: flex;

    justify-content: center;
}

.buttons .button {
    padding: 0;
    margin: 3px;
}

.buttons .button img {
    box-shadow: black 3px 3px 2px;
}

.buttons .button:hover {
    transform: translateX(2px) translateY(2px);
}

/* PROJECTS */

#projects-nav {
    margin: auto;

    border-collapse: collapse;
    border-style: hidden;
}

#projects-nav td {
    border: 2px solid black;
}

#projects-nav td a{
    margin: 5px;
    font-size: 1.75em;
    text-decoration: none;
}

#project {

    margin: 10px 10px;
    border: 1px solid black;
    
    display: flex;    
}

#project img {
    margin: 10px;

    align-self: center;
}

#project span {
    text-align: center;

    display: flex;

    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

/* MISC ELEMENTS */

#guestbook {
    width: 100%;
    height: 800px;
}

#site-updates {
    overflow: hidden;
    overflow-y: scroll;

    max-height: 400px;
}

#site-updates section{
    text-align: left;
}

#fetch {
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    
    border: 2px solid black;
    background-color: black;

    color: white;
    text-align: left;

    font-family: 'Courier New', Courier, monospace;
}

#title {
    background-color: white;

    color: black;
    margin: 0;
    padding-left: 5px;
    width: 100%;

    font-family: Arial, Helvetica, sans-serif;
}

.key {
    font-weight: bold;
    color: brown;
}

/* RESPONSIVE LAYOUT */

@media (max-width: 800px) {
    body {
        font-size: 12pt;
    }

    .container {
        width: 100%;
        grid-template:
                "header"
                "sidebar"
                "main"
                "footer";
    }

    main {
        text-align: center;
    }

    .gallery .picture-element {
        margin: auto;
        display: block;
    }

    aside {
        display: none;
    }

    header nav img {
        width: 300px;
    }
}

