:root {
    --project-background-color: white;
    --project-text-color: black;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.header {
    /* Margins */
    margin: 10px 0;

    /* Padding */
    padding: 10px;

    /* Text */
    text-align: center;
}

.main {
    /* Margins */
    margin: 10px auto;

    /* Padding */
    padding: 0;
}

.introduction {
    /* Margins */
    margin: 10px 15%;

    /* Padding */
    padding: 5px 10px;
}

.section {
    /* Margins */
    margin: 10px 0;

    /* Padding */
    padding: 5px 15px;

    /* Layout */
    display: flex;
    flex-direction: column;
}

.section__title {
    /* Text */
    text-align: center;
}

.section__content {
    /* Margins */
    margin: 0;

    /* Text */
    text-align: justify;
}

.section__download {
    /* Margins */
    margin: 5px auto;

    /* Text */
    text-align: center;
}

.footer {
    /* Margins */
    margin: 10px 0;

    /* Padding */
    padding: 10px;

    /* Text */
    text-align: center;
    font-size: small;
}

/* ================================ */
/*              THEMES              */
/* ================================ */

/*.halflife {}*/

.doom {
    background-color: #443118;
    background-image: url(../images/works/backgrounds/doombg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: red;
}

.doom .header a:link, .doom .header a:visited {
    color: white;
    text-decoration: none;
}

.doom .header a:hover {
    text-decoration: underline;
}

.doom .container {
    padding: 10px;

    background-color: rgba(0, 0, 0, 0.75);
}