:root {
    --project-border: 1px solid black;
    --project-background-color: white;
    --project-text-color: black;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.header {
    /* Margins */
    margin: 10px 25%;

    /* Padding */
    padding: 10px;

    /* Border */
    border: var(--project-border);

    /* Text */
    text-align: center;
}

.main {
    /* Margins */
    margin: 10px auto;

    /* Padding */
    padding: 0;
}

.main .introduction {
    /* Margins */
    margin: 10px 15%;

    /* Padding */
    padding: 5px 10px;

    /* Border */
    border: var(--project-border);
}

.section {
    /* Margins */
    margin: 10px 0;

    /* Padding */
    padding: 5px 15px;

    /* Border */
    border: var(--project-border);

    /* Layout */
    display: flex;
    flex-direction: column;
}

.section__title {
    /* Text */
    text-align: center;
}

.section__content {
    /* Margins */
    margin: 0;

    /* Text */
    text-align: justify;
}

.section__download {
    /* Margins */
    margin: 5px auto;

    /* Text */
    text-align: center;
}

.footer {
    /* Margins */
    margin: 10px 25%;

    /* Padding */
    padding: 10px;

    /* Border */
    border: var(--project-border);

    /* Text */
    text-align: center;
    font-size: small;
}

/* ================================ */
/*              THEMES              */
/* ================================ */

/* body .halflife {}*/