:root {
    --project-background-color: white;
    --project-text-color: black;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.header {
    /* Margins */
    margin: 10px 0;

    /* Padding */
    padding: 10px;

    /* Text */
    text-align: center;
}

.main {
    /* Margins */
    margin: 10px auto;

    /* Padding */
    padding: 0;
}

.introduction {
    /* Margins */
    margin: 10px 15%;

    /* Padding */
    padding: 5px 10px;

    /* Text */
    text-align: center;
}

.section {
    /* Margins */
    margin: 10px 0;

    /* Padding */
    padding: 5px 15px;

    /* Layout */
    display: flex;
    flex-direction: column;
}

.section__title {
    /* Text */
    text-align: center;
}

.section__content {
    /* Margins */
    margin: 0;

    /* Text */
    text-align: center;
}

.section__download {
    /* Margins */
    margin: 5px auto;

    /* Text */
    text-align: center;
}

.footer {
    /* Margins */
    margin: 10px 0;

    /* Padding */
    padding: 10px;

    /* Text */
    text-align: center;
    font-size: small;
}

/* GALLERY */
.gallery {
    margin: auto;
    max-width: 640px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-picture {
    margin: 5px;

    position: relative;

    width: 300px;
    height: 300px;

    box-sizing: border-box;

    border: 4px ridge black;
    display: flex;
    overflow: hidden;
}

.gallery-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-picture .picture-desc {
    margin-bottom: 0;
    padding: 3px;
    
    position: absolute;
    bottom: 0;

    background-color: #fff;
    width: 100%;

    text-align: center;
    font-size: 16px;

    justify-content: center;

    display: none;
}

.gallery-picture:hover .picture-desc{
    display: block;
}

.gallery-picture:hover img {
    transform: scale(1.15);
}

#portrait {
    justify-content: center;
}

/* ================================ */
/*              THEMES              */
/* ================================ */

/*.halflife {}*/

.doom {
    background-color: #443118;
    background-image: url(../images/works/backgrounds/doombg.png);
    background-position: center;
    background-repeat: repeat;
    color: red;
}

.doom .header a:link, .doom .header a:visited {
    color: white;
    text-decoration: none;
}

.doom .header a:hover {
    text-decoration: underline;
}

.doom .container {
    padding: 10px;

    background-color: rgba(0, 0, 0, 0.75);
}

.doom .gallery-picture {
    border-color: red;
}