/* SITE THEMES */

:root {
    --site-font-size: 14pt;
    --site-font-family: Arial, Helvetica, sans-serif;

    /* Theme - BORDERS*/
    --theme-border-style: 3px solid;
    --theme-border-radius: 10px;
    --theme-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);

    /* Light Mode */
    --light-border-color: rgb(0, 0, 0);
    --light-site-background-image: url("/assets/images/Wallpaper.png");
    --light-background-color: #d34949;

    --light-element-background-color: linear-gradient(190deg,darkred, rgb(78, 0, 0));
    --light-button-background: linear-gradient(to bottom, brown, maroon, brown);

    /* Dark Mode */
    --dark-border-color: rgb(0, 64, 160);
    --dark-site-background-image: url("/assets/images/WallpaperDark.png");
    --dark-background-color: #18002c;

    --dark-element-background-color: linear-gradient(190deg,rgb(26, 0, 36), rgb(0, 30, 68));
    --dark-button-background: linear-gradient(to bottom, grey, black, rgb(0, 0, 36));
}

/* Light Mode - DEFAULT*/

body {
    /* Background */
    background-color: var(--light-background-color);
    background-image: var(--light-site-background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* Misc */
    overflow-x: hidden;
}

.header__button-banner {
    /* Border */
    border: var(--theme-border-style);
    border-color: var(--light-border-color);
    border-radius: var(--theme-border-radius);

    /* Background */
    background-color: white;
    background-image: var(--light-element-background-color);

    /* Misc */
    box-shadow: var(--theme-box-shadow);
}

#main {
    /* Border */
    border: var(--theme-border-style);
    border-color: var(--light-border-color);
    border-radius: var(--theme-border-radius);

    /* Background */
    background-color: white;
    background-image: var(--light-element-background-color);

    /* Misc */
    box-shadow: var(--theme-box-shadow);
}

#main hr {
    /* Background */
    background-color: white;

    /* Border */
    border: 2px solid white;
    border-radius: 2px;

    /* Misc */
    box-shadow: 0 0 10px 2px white;
}

.sidebar {
    /* Border */
    border: var(--theme-border-style);
    border-color: var(--light-border-color);
    border-radius: var(--theme-border-radius);

    /* Background */
    background-color: white;
    background-image: var(--light-element-background-color);

    /* Misc */
    box-shadow: var(--theme-box-shadow);
}

.nav-menu nav {
    /* Background */
    background-color: rgba(0, 0, 0, 0.6);

    /* Border */
    border: 2px solid black;
    border-radius: 5px;
}

.nav-menu__cat-title {
    /* Text */
    color: lightpink;

    font-size: 1.5em;

    font-weight: bolder;

    text-shadow: 0px 0px 6px black;
}

.nav-menu__nav::before {
    /* Background */
    background-color: salmon;

    /* Border */
    border-radius: 20px;

    /* Layout */
    display: block;

    position: absolute;
    top: 0px;
    left: 3px;

    width: 160px;
    height: 15px;

    /* Misc */
    content: '';
    text-align: center;
    opacity: 0.3;
}

.nav-menu__nav {
    /* Background */
    background-color: firebrick;
    background-image: var(--light-button-background);

    /* Border */
    border: 2px solid maroon;
    border-radius: 5px;

    /* Text */
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.nav-menu__nav:hover {
     /* Background */
    background-color: lightcoral;
    background-image: linear-gradient(0deg, lightcoral, firebrick, lightcoral);

    /* Border */
    border: 2px solid firebrick;
}

.nav-menu__nav--active {
    /* Background */
    background-color: salmon;

    /* Text */
    font-weight: bold;
    color: salmon;
}


/* Dark Mode */

.dark-mode {
    background-color: var(--dark-background-color);
    background-image: var(--dark-site-background-image);
}

.dark-mode #main, .dark-mode .sidebar, .dark-mode .header__button-banner {
    /* Border */
    border-color: var(--dark-border-color);

    /* Background */
    background-color: black;
    background-image: var(--dark-element-background-color);
}

.dark-mode .nav-menu__cat-title {
    /* Text */
    color: skyblue;

    font-size: 1.5em;

    font-weight: bolder;

    text-shadow: 
    0px 2px 5px blue,
    0px -2px 5px blue,
    2px 0px 5px blue,
    -2px 0px 5px blue;
}

.dark-mode .nav-menu__nav::before {
    /* Background */
    background-color: grey;

    /* Border */
    border-radius: 20px;

    /* Layout */
    display: block;

    position: absolute;
    top: 0px;
    left: 3px;

    width: 160px;
    height: 10px;

    /* Misc */
    content: '';
    text-align: center;
    opacity: 0.25;
}

.dark-mode .nav-menu__nav {
    /* Background */
    background-color: black;
    background-image: var(--dark-button-background);

    /* Border */
    border: 2px solid black;
    border-radius: 5px;

    /* Text */
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.dark-mode .nav-menu__nav:hover::before {
    /* Misc */
    opacity: 0;
}

.dark-mode .nav-menu__nav:hover {
     /* Background */
    background-color: darkgrey;
    background-image: linear-gradient(to bottom, rgb(21, 0, 99), black, rgb(21, 0, 99));

    /* Border */
    border: 2px solid black;
}

.dark-mode .nav-menu__nav--active {
    /* Background */
    background-color: darkblue;

    /* Text */
    font-weight: bold;
    color: deepskyblue;
}

.dark-mode #main hr {
    /* Background */
    background-color: #26afff;

    /* Border */
    border: 2px solid #26afff;
    border-radius: 2px;

    /* Misc */
    box-shadow: 0 0 10px 2px #26afff;
}

/* Christmas Theme */

#snow {
    /* Layout */
    display: none;
    z-index: 9;
}

.xmas #snow{
    /* Layout */
    display: block;
}

